@import "../../helpers/variables.module";
@import "../../helpers/mixins/buttonCTA";

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
  a {
    white-space: nowrap;
    width: min-content;
    @include buttonCTA;
  }
}

.lottie {
  width: auto;
  height: 400px;
}

.mainText {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 5rem;
}

@media screen and (max-width: 440px) {
  .links {
    flex-direction: column;
    align-items: center;
  }
}
