@import "../variables.module";

@mixin title1($text, $color) {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: $bebas-1;
  font-weight: normal;
  color: $color;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    min-height: 2px;
    height: 2px;
    width: 52px;
    background-color: $color;
  }

  &::after {
    content: $text;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Nunito", sans-serif;
    font-size: 3.5rem;
    opacity: 0.15;
    text-transform: uppercase;
    filter: blur(1.5px);
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
