$orange: #ea802a;
$light: #f2f3f5;
$medium: #e3e6ee;
$gray: #222937;
$yellow: #ffde59;
$dark-text: #231f20;

$man-hexa-size: 367px;
$pelle-hexa-size: 220px;
$tools-hexa-size: 156px;
$scale-085: 0.85;

$bebas-1: 4.5rem;
$bebas-2: 3.6rem;
$bebas-3: 2.7rem;
