@import "../../helpers/variables.module";

.footer {
  background: $gray;
  color: $light;
  padding: 80px 0 30px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
}

.footerSection {
  & > * {
    //Tous les enfants direct de footerSection (pour chaque ligne dans chaque section)
    margin-bottom: 5px;
  }
}

.footerTitle {
  position: relative;
  white-space: nowrap;
  display: block;
  margin-bottom: 28px;
  font-size: 2rem;
  font-weight: normal;

  &::after {
    content: "";
    height: 2px;
    width: 30px;
    background: $light;
    position: absolute;
    top: 30px;
    left: 0;
  }
}

.one {
  p,
  strong {
    display: block;

    font-weight: normal;
  }

  a {
    color: $light;
    &:hover {
      color: darken($light, 13%);
    }
  }
}

.three {
  a {
    color: $light;
    display: block;

    &:hover {
      color: darken($light, 13%);
    }
  }
}

.footerBottom {
  max-width: 485px;
  margin: 0 auto;
  font-size: 1.4rem;

  div {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;

    p {
      text-align: center;
    }
    a {
      color: $light;

      &:hover {
        color: darken($light, 13%);
      }
    }
  }

  & > p:last-child {
    //Copyright
    margin: 15px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    .container {
      width: 95%;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    .one,
    .two,
    .three {
      width: 80%;
      margin-bottom: 50px;
    }
  }

  .footerBottom {
    text-align: center;
    div {
      flex-direction: column;
      a {
        margin-bottom: 15px;
      }
    }
  }
}
